.item {
    position: relative;
}

.circular_p {
    text-align: center;
    position: absolute;
    line-height: 19px;
    width: 100%;
    margin-top: 30px;
}

.circle_animation1 {
    stroke-opacity: 0.2;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
}

@media (max-width:356px) {
    .item {
        left: -18%;
    }
}
