
<div class="item">
    @*<h2>0</h2>*@
    <div class="circular_p">
        <p id="speedLevel">Level: 0</p>
        <p id="shuttleTimer">Shuttle: 0</p>
        <p id="kmh">0 Km/h</p>
    </div>
    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
        <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="3" stroke="#6fdb6f" fill="none" />
        <circle class="circle_animation1" r="69.85699" cy="81" cx="81" stroke-width="3" stroke="#000" fill="none" />
    </svg>
</div>